{% extends "layout.html" %}

{% block title %}
User login
{% endblock %}

{% block body %}
<div class="row">
    <div class="col"></div>
    <div class="col-6 ">
        <h1>Book worm</h1>
        <form class="border border-primary rounded" style="padding:20px" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}