html {
    background-color: #f7f7f7;
}

h1, h2 {
    color: rebeccapurple;
    
    width: 20%;
    
    margin-top: 25px;
    margin-bottom: 10px;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 30px;
}

.species {
    text-decoration: underline;
}

#pets-title {
    color: mediumvioletred;
    font-style: italic;
    text-decoration: underline;
}

#protip {
    font-size: 15px;
    font-family: monospace;
    color: dimgray;
    font-variant-caps: all-small-caps;
}

img {
    width: 20%;
}

img:hover {
    width: 21%;
}

.go-back {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    
    width: 20%;
    height: 40px;
    
    border: 5px black solid;
    background-color: white;
}